@media only screen and (min-width: 768px){
   #home h3 {
      font-size: 24px;
   }
   #home .name {
      font-size: 55px;
   }
   #home .des{
      font-size: 20px;
   }
   #home .banner-image{
      padding-top: 50px; 
   }
   #brand .rect img {
      width: 100%;
   }
}